---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <h2>MicroBlogs</h2>

  {% for mblog in site.microblog %}
    <div style="border: 2px solid white; padding:5px 10px;margin: 5px 0;">
        <h3><b>{{ mblog.author }}</b> • <span style="font-size: 12px">{{ mblog.date | date:"%b %-d, %Y" }}</span></h3>
        <p>{{ mblog.content | markdownify }}</p>
    </div>
  {% endfor %}

  
</div>